﻿@model IEnumerable<UrrelosWeb.Models.Cargo>
<div class="panel-heading" style="text-align: center">
    <h2> Administrar Cargo</h2>
</div>
<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombrecargo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombrecargo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Idcargo }) |

            @Html.ActionLink("Delete", "Delete", new { id=item.Idcargo })
        </td>
    </tr>
}

</table>
