﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urrelo System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Urrelos System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-togle" data-toggle="dropdown" href="#">
                            ADMINISTRAR
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                            <li><a href="@Url.Action("Index", "producto")">Adm.Productos</a></li>
                            <li><a href="@Url.Action("Index", "categoria")">Adm.Categorias</a></li>
                            <li><a href="@Url.Action("Index", "cliente")">AdmClientes</a></li>
                            <li><a href="@Url.Action("index", "empleado")">Adm.Empleados</a></li>
                            <li><a href="@Url.Action("Index", "cargo")">Adm.Cargos</a></li>
                            <li><a href="@Url.Action("Index", "venta")">Adm. Venta</a></li>


                        </ul>
                    </li>
                </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
            </div>
        </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
