﻿
<tr>
    <td><input type="hidden" name="detalleventa[@ViewBag.Index].idProducto" value="@Model.IdProducto" /></td>
    <td><input type="text" readonly="false" name="detalleventa[@ViewBag.Index].nombrePoducto" value="@Model.Nombre" id="detalleventa[@ViewBag.Index].nombrePoducto" /></td>
    <td>@Model.Stock</td>

    <td><input type="text" size="8" name="detalleventa[@ViewBag.Index].cantidad" id="detalleventa[@ViewBag.Index].cantidad" onkeyup="calcularTotalTabla()" /></td>
    <td class="col-sm-1/2">
        <input type="text" size="8" name="detalleventa[@ViewBag.Index].preciodetalle" value="@Model.PrecioUnitario" id="detalleventa[@ViewBag.Index].preciodetalle" onkeyup="calcularTotalTabla()" />
    </td>
    <td class="col-sm-1/2">
        <input type="text" class="form-control input-sm" style="text-align: right" name="detalleventa[@ViewBag.Index].Total"
               placeholder="S/. 00.00" readonly="true" id="detalleventa[@ViewBag.index].Total" />
    </td>
    <td style="text-align: center">

        <a class="btn btn-danger" onclick="deleteRow(this)">
            <span class="glyphicon ">quitar</span>
        </a>
    <td>

</tr>


