﻿@model IEnumerable<UrrelosWeb.Models.Producto>
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />*@
<div class="row">
    <div class="col-md-11 col-md-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading" style="text-align: center">
                <h2> NUEVA VENTA</h2>
            </div>
                       
            <div class="panel-body">
                <div class="container" style="align-content: center">
                    <form action="/venta/crearventa" method="post">
                        <div class="row center">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    <div class="col-md-6 ">
                                        <label for="">Cliente:</label>
                                           
                                        <div class="editor-field">
                                            @Html.DropDownList("IdCliente", null, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                        

                                    <!-- campo fecha-->
                                    <div class="col-md-6 ">
                                        <label for="Fecha">Fecha Compra:</label>
                                        <input type="text" class="form-control input-sm col-sm-2" id="fecha"
                                               value="@DateTime.Now" name="fecha"
                                               onchange="SetearPago()" />
                                    </div>

                                </div>

                                <div class="col-md-5 col-sm-5 col-xs-5">

                                    <!-- empleado cargar combo -->
                                    <div class="col-md-6 ">
                                        <label for="">Empleado:</label>
                                        <div class="editor-field">
                                            @Html.DropDownList("IdEmpleado", null, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <div class="panel panel-info">
                                <div class="panel-heading">PRODUCTOS</div>
                                <div class="panel-body">


                                    <!-- tabla productos -->
                                    <table id="productos" class="table col-md-3">
                                        <thead>
                                        <tr class="bg-primary">
                                            <th>Id</th>
                                            <th>Nombre Producto</th>
                                            <th>Stock</th>
                                            
                                            <th>Precio</th>
                                            <th>Accion</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.IdProducto</td>
                                                <td>@item.Nombre </td>
                                                <td>@item.Stock </td>
                                                <td>@item.PrecioUnitario</td>


                                                <td>
                                                    <a href="#">
                                                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                                        Agregar
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <div class="panel-heading" style="text-align: center">
                                <h4>DETALLE VENTA</h4>
                            </div>

                            <!--tabla detalles -->
                            <table name="detalle" class="table" id="myTable">
                                <thead>
                                <tr class="bg-primary">
                                    <th>Id</th>
                                    <th>Nombre Producto</th>
                                    <th>stock</th>
                                    <th>cantidad</th>
                                    <th>precio</th>
                                    <th style="text-align: center">Total</th>
                                    <th style="text-align: center">Acciones</th>

                                </tr>
                                </thead>
                                <tbody id="productoslis"></tbody>
                                <tfoot>
                                <tr class="success">

                                <td colspan="4" class="control-label">Total</td>

                                <td colspan="2">
                                    <input type="text" class="input-sm" id="Monto"
                                           name="monto" style="text-align: right" readonly placeholder="00.00" />
                                </td>
                                <tfoot>
                            </table>

                        </div>
                        <br />
                        <br />

                        <div class="row">
                            <div class="form-group-sm">
                                <button class="btn btn-primary col-sm-offset-3">
                                    <span aria-hidden="true" class="glyphicon glyphicon-floppy-disk"></span>
                                    Guardar
                                </button>

                                <a href="/venta/index" class="btn btn-danger col-sm-offset-1">
                                    <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<@*select id="probar" class="probar">
    <option value="value">text</option>
</select>*@

<script type="text/javascript">


    //$(function () {
    //    $('SelectList').selectize({});
    //});
</script>

<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

  <script>


    function alertar() {

        $("#success-alert").fadeTo(800, 500).slideUp(500, function () {
            $("#success-alert").hide();
        });
    }




    function calcularTotalTabla() {
        var tablaLength = document.getElementById("myTable").rows.length;
        if (tablaLength > 2) {
            var totales = 0;
            

            for (var i = 0; i < tablaLength - 2; i++) {
                var inputCantidad = "detalleventa[" + i + "].cantidad";
                var inputPrecio = "detalleventa[" + i + "].preciodetalle";
                var inputTotal = "detalleventa[" + i + "].Total";
                var cantidad = document.getElementById(inputCantidad).value;
                var precio = document.getElementById(inputPrecio).value;
                var total = cantidad * precio;
                totales = totales + total;
                
                
                document.getElementById(inputTotal).value = total.toFixed(2);
            }
            document.getElementById("Monto").value = totales.toFixed(2);
            console.log(totales);
        } else {
            document.getElementById("Monto").value = 0;
            console.log(totales);
        }
    }

    function calcularTotalFila(r)
    {
        var i = r.parentNode.parentNode.rowIndex;
        var inputCantidad = "detalleventa[" + (i - 1) + "].cantidad";
        var inputPrecio = "detalleventa[" + (i - 1) + "].preciodetalle";
        var inputTotal = "detalleventa[" + (i - 1) + "].Total";
        var cantidad = document.getElementById(inputCantidad).value;
        var precio = document.getElementById(inputPrecio).value;
        //console.log(inputPrecio);
        //console.log("Cantidad: " + cantidad + "; Precio: " + precio);
        var total = cantidad * precio;
        console.log(total);
        document.getElementById(inputTotal).value = total;
    }

    

    function deleteRow(r) {
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById("myTable").deleteRow(i);
        calcularTotalTabla();
        index--;

    }



                            </script>



                            @section scripts{
                                @Scripts.Render("~/bundles/jquery")
                                @Scripts.Render("~/bundles/jqueryval")
                                @Scripts.Render("~/bundles/datatables")

                                <script type="text/javascript">

        var index = 0;

        $("#productos tbody tr").click(function () {
            $(this).addClass('product').siblings().removeClass('product');
            var id = this.cells[0].textContent;
            $.get('/Venta/addProducto/'+ id + '?index=' + index).done(function (respuesta) {
                $('#productoslis').append(respuesta);
                index++;
                alertar();
                calcularTotalTabla();
            });
            event.preventDefault();
        });

        $(document).ready(function () {
            $('#productos').DataTable();
        });

        ////$('#select-beast').selectize({
        ////    create: false,
        ////    sortField: 'text'
        ////});
        //$(document).ready(function () {
        //    $("#probar").select2();
        //});
                                </script>
                            }
