﻿@model IEnumerable<UrrelosWeb.Models.Venta>

@{
    ViewBag.Title = "Index";
}

@section scripts

{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatables")
    <script>
        $(document).ready(function () {
            $('#mytable').DataTable();
        });

    </script>
}

<h2 style="text-align:center">Administrar ventas</h2>

@using (Html.BeginForm())
{
    <div class="row col-md-offset-10">
        <p>

            <a href="/venta/create" class="btn btn-success " data-toggle="tooltip" data-placement="right" title="Registrar nueva venta ">
                <span class="glyphicon glyphicon-plus" aria-hidden="true">NUEVA</span>
            </a>
        </p>

    </div>
}

<table class="table tabble-striped table-hover" id="mytable">
    <thead>
        <tr class="bg-primary">
            <th>Id</th>
            <th>Cliente</th>
            <th>Empleado</th>
            <th>Fecha y Hora</th>
            <th>Monto</th>
            <th>Anulada</th>

            <th>Acciones</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdVenta</td>

                <td>@item.cliente.Nombre</td>
                <td>@item.empleado.Nombre</td>
                <td>@item.fecha</td>
                <td>@item.monto</td>
                <td>@item.anulado</td>

                <td>
                    <a href="/venta/verdetalle/@item.IdVenta">
                        <span class="btn btn-success glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        <!--glyphicon glyphicon-eye-open -->
                    </a>

                </td>
            </tr>
        }
    </tbody>

</table>
