﻿@using UrrelosWeb.Models;
@model dynamic
@{
    ViewBag.Title = "verdetalle";
}

<h2>verdetalle</h2>
<div class="row">
    <div class="col-md-11 col-md-offset-1">

        <div class="panel-body">
            <div class="container" style="align-content: center">

                <div class="row center">
                    <h4 style="text-align:center">VENTA - @Model.venta.IdVenta  </h4>
                    <div class="col-md-8 col-sm-8 col-xs-8">

                        <!-- campo fecha-->
                        <div class="col-md-3 ">
                            <label for="Fecha">Fecha Compra:</label>
                            @Model.venta.fecha
                        </div>
                        <div class="col-md-3 ">
                            <label for="">Cliente:</label>
                            @Model.venta.cliente.Nombre
                        </div>

                    </div>
                </div>
                <!-- tabla detalle-->
                <div class="col-md-7 col-sm-7 col-xs-7">
                    <!--tabla detalles -->
                    <table id="cliente" class="table col-md-3">
                        <thead>
                            <tr>
                                <th>Nombre producto</th>
                                <th>Cantidad</th>
                                <th>PrecioUnitario</th>
                                <th>Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Detalle_Venta cli in Model.detalle)
                            {
                                <tr>
                                    <td>@cli.producto.Nombre</td>
                                    <td>@cli.cantidad</td>
                                    <td>@cli.producto.PrecioUnitario</td>
                                    <td>@cli.Total</td>
                                    
                                </tr>
                            }

                        </tbody>
                    </table>
                    <div class="col-md-2 col-sm-offset-8 ">
                        Total:
                        S/. @Model.venta.monto
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





