﻿@{
    ViewBag.Title = "Home Page";
}


<script src="https://use.fontawesome.com/eba31b3766.js"></script>

<body background="~/Imagenes/zzz.jpg" >
<div >
    <h2></h2>
</div>

<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row" >
            <div class="col-lg-12" >
                <h3 class="page-header" >
                    Urrelos System
                </h3>
                @*<ol class="breadcrumb" >
                    <li class="active" style="color:black">
                        <i class="fa fa-dashboard"></i> Menú Principal
                    </li>
                </ol>*@
            </div>
        </div>


        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-th-list fa-5x" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">Productos</div>
                                @*<div>Proveedores</div>*@
                            </div>
                        </div>
                    </div>
                    <a href="~/Producto/Index">
                        <div class="panel-footer">
                            <span class="pull-left">Acceder</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">Clientes</div>
                                @*<div>Productos</div>*@
                            </div>
                        </div>
                    </div>
                    <a href="~/Cliente/Index">
                        <div class="panel-footer">
                            <span class="pull-left">Acceder</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">Ventas</div>
                                @*<div>Ventas</div>*@
                            </div>
                        </div>
                    </div>
                    <a href="~/Venta/Index">
                        <div class="panel-footer">
                            <span class="pull-left">Acceder</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- /.row -->
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
</body>
    
<!-- /.row -->

@*<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-shopping-cart "></i>  <strong>Bienvenido a SagitarioSystem </strong>
        </div>
    </div>
</div>*@
<!-- /.row -->