﻿
@model IEnumerable<UrrelosWeb.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<div class="panel-heading" style="text-align: center">
    <h2> Administrar Cliente</h2>
</div>

<p>
    @Html.ActionLink("Nuevo cliente ", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DniRuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DniRuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id=item.IdCliente }) |
                @Html.ActionLink("Delete", "delete", new { id = item.IdCliente })
            </td>
        </tr>
    }

</table>
@*@using PagedList;
    @using PagedList.Mvc;
    @model IPagedList<UrrelosWeb.Models.Cliente>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page}),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
    {
        UpdateTargetId = "search_result",
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace
    }))*@