﻿@model IEnumerable<UrrelosWeb.Models.categoria>
<div class="panel-heading" style="text-align: center">
    <h2> Administrar Categorias</h2>
</div>
<p>
    @Html.ActionLink("Nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.idcategoria }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idcategoria })
        </td>
    </tr>
}

</table>
